/*
@import url(http://fonts.googleapis.com/css?family=Roboto);
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed);
*/

/*	===========================================================================
		HTML5 Tags
	===========================================================================	*/
body {
	background:#fff;
}

.navbar {
	height:81px;
}

.navbar-brand {
	padding:6px 0;
}

.navbar-nav>li>a {
	padding-top:30px;
	padding-bottom:30px;
	/*font-weight: bold;*/
	font-size: 1.1em;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
	/*background-color: #056ebb;*/
	color: #056ebb;
}


/*a:hover, a:focus {
	color: #428bca;
}*/

label {
	font-weight: bold;
}



@media (max-width: 450px) {

}

@media (max-width: 767px) {

}

@media (max-width: 995px) {

}
